body {
  background-color: pink;
}
.greeting {
  position: relative;
  left: 47%;
}
.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 40%;
  position: relative;
  left: 30%;
  font-size: xx-large;
  background: blueviolet;
}
input {
  padding: 3%;
  color: black;
}
button {
  margin: 15%;
  background-color: pink;
  font-size: large;
}
